.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gameBoardWrapper {
  height: 100%;
  width: 100%;
  background-color: #61dafb;
}

.gameBoard {
  max-height: 90%;
  width: fit-content;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.row {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
}

.cell {
  width: 25px;
  flex-shrink: 0;
  height: 25px;
  border: 1px solid black;
  background-color: darkgray;
  /* transition: background-color 350ms linear; */
}

.cellSvg {
 opacity: 1;
 fill: none;
 fill-opacity: 1;
 fill-rule: evenodd;
 stroke: #0000ff00;
 stroke-width: 2;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke-miterlimit: 4;
 stroke-dasharray: none;
 stroke-dashoffset: 0;
 stroke-opacity: 1;
 /* transition: stroke 350ms linear; */
}

.live {
  stroke: #0000ff;
  animation: fillIn 500ms forwards;
}
@keyframes fillIn{
  from {
    stroke-dasharray: 5% 700%;
    stroke-dashoffset: -2;
  }
  to {
    stroke-dasharray: 1;
    stroke-dashoffset: -2;
  }
}

@keyframes traceIn{
  1% {
    stroke-dasharray: 5% 700%;
    stroke-dashoffset: -2;
  }
  99% {
    stroke-dasharray: 5% 700%;
    stroke-dashoffset: -125;
  }
  100% {
    stroke-dasharray: 1;
    stroke-dashoffset: -2;
  }
}

/* .dead {
  background-color: darkgray;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
